<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.shopin.testactivitylaunch">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".standard.StandardActivity">
        </activity>
        <activity android:name=".standard.Standard_NewTaskActivity">
        </activity>
        <activity
            android:name=".standard.Standard_AffinityActivity"
            android:taskAffinity=".affinity_tag">
        </activity>
        <activity
            android:name=".standard.Standard_NewTask_AffinityActivity"
            android:taskAffinity=".newtask_affinity_tag">
        </activity>
        <activity
            android:name=".singletop.SingleTopActivity"
            android:launchMode="singleTop">
        </activity>
        <activity android:name=".singletop.SingleTop_NewtaskActivity">
        </activity>
        <activity android:name=".standard.Standard2Activity">
        </activity>
        <activity
            android:name=".singletask.SingleTaskActivity"
            android:taskAffinity=".single_task_tag"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".singleinstance.SingleInstanceActivity"
            android:taskAffinity=".single_instance_tag"
            android:launchMode="singleInstance">
        </activity>
    </application>

</manifest>